<mat-card class="example-card">
  <mat-card-title>General</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-checkbox [(ngModel)]="drawDisabled" (change)="onChange()"
          >Disable draw</mat-checkbox
        >
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon-button" matRipple (click)="zoomOut()"
          >zoom_out</mat-icon
        >
        <mat-slider
          min="0.5"
          max="5"
          step="0.1"
          [(ngModel)]="zoom"
          (input)="onChangeZoom($event.value)"
        ></mat-slider>
        <mat-icon class="icon-button" matRipple (click)="zoomIn()"
          >zoom_in</mat-icon
        >
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
